body{
  padding: 20px;
  margin: 0;
  background-color: #050404;
  height: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Karla', sans-serif;
}



.home{
  /* background-color: aqua; */
  border-color: aqua;
  border-width: 1px;
  border-style: solid;
  width: 60vw;
  align-self: center;
  padding: 20px;
}

.demotext {
  color: #FFFFFF;
  background: transparent;
  text-shadow: 0 0 10px #FFFFFF;
  color: #FFFFFF;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.container{
  display: flex;
  flex-direction: row;
}


/* SUBJECT PART */

.subject-container{
  background-color: blue;
  flex: 2;
  background-color: #2e1c2b;
  margin-right: 20px;
  border-radius: 1rem;
  padding: 5px 10px;
  margin-bottom: 50px;
}
.subject-heading{
  margin-bottom: 10px;
}
.subject-input{
  background-color: #4a1942;
  padding: 0.5rem;
  border-radius: 5px;
  text-indent: 5px;
  border-color: #893168;
  border-style: solid;
  border-width: 1px;
  outline-width: 0;
  color: white;
  margin: 0;
}
.subject-subjects{
  font-size: 12px;
  font-weight: 100;
  text-decoration: underline;
  margin-bottom: 10px;
  cursor: pointer;
}



/* Search part */

.search-container{
  background-color: #2e1c2b;
  flex: 8;
  border-radius: 1rem;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  padding: 5px 10px;
  margin-bottom: 50px;
}
.search-heading{
  margin-bottom: 10px;
}
.search-box{
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  margin-bottom: 20px;
}
.drop-down{
  display: flex;
  align-items:flex-start
}
.drop-down-arrow{
  background-color: #4a1942;
  flex-direction: column;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  padding: 7px  0 7px 0;
}
.drop-down-icon{
  margin: 0;
  padding: 0;
  font-size: 18.5px;
}
.search-dropdown{
  background-color: #4a1942;
  border-radius: 5px 0 0 5px;
  padding: 7px;
  flex: 2;
  justify-content: center;
  align-items: center;
}
.myMenuClassName{
  margin-top: 10px;
  background-color: #4a1942;
  cursor: pointer;
  justify-content: center;
  align-items: center
}
.search-input{
  flex: 7;
  background-color: #4a1942;
  padding: 0.5rem;
  border-radius: 5px;
  text-indent: 5px;
  border: #893168 1px solid;
  outline-width: 0;
  color: white;
  margin-right: 10px;
}
.search-button{
  flex: 1;
  background-color: blue;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  border-width: 0;
}
.search-button:hover{
  background-color: blue;
  opacity: 0.6;
  cursor: pointer;
}


/* Result Card */

.result-card{
  background-color: black;
  border-radius: 5px;
  padding: 10px;  
  margin-bottom: 10px;
}
.card-book-title{
  margin: 0;
  color: #EAEAEA;
  margin-bottom: 10px;
}
.card-book-details{
  display: flex;
  justify-content: space-between;
}
.card-book-author{
  font-size: 12px;
  margin: 0;
  color: #893168;
}
.card-book-author-span{
  font-size: 13px;
  color: #EAEAEA;
}
.card-book-latest-year{
  font-size: 12px;
  margin: 0;
  color: #893168;
}
.card-book-latest-year-span{
  font-size: 13px;
  color: #EAEAEA;
}
.card-book-first-year{
  font-size: 12px;
  margin: 0;
  color: #893168;
}
.card-book-first-year-span{
  font-size: 13px;
  color: #EAEAEA;
}


/* Navigator Buttons at bottom for page next and previous */

.buttons{
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
.previous-button{
  background-color: #893168;
  padding: 0 20px;
  border-width: 0;
  border-radius: 5px;
  margin-right: 10px;
  color: #EAEAEA;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-button{
  background-color: #893168;
  padding: 8px;
  border-width: 0;
  border-radius: 5px;
  margin-right: 10px;
  color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dataCount-loader{
  align-self: center;
  margin: 0;
  padding: 0;
}
.loader{
  align-self: center;
}
.next-button{
  background-color: #893168;
  padding: 0 20px;
  border-width: 0;
  border-radius: 5px;
  margin-right: 10px;
  color: #EAEAEA;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Subject Card */

.subject-card{
  font-size: 12px;
  margin-left: 5px;
  color: gray;
}
.subject-card-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-x: auto;
  border-radius: 5px;
  background-color: transparent;
  border: #EAEAEA 1px solid;
}
/* Scroll bar styling */
.subject-card-container::-webkit-scrollbar-track {
  border: 1px solid #000;
  padding: 2px 0;
  background-color: #404040;
}
.subject-card-container::-webkit-scrollbar {
  width: 10px;
}
.subject-card-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #737272;
  border: 1px solid #000;
}
.subject-search-button{
  border-radius: 5px;
  background-color: #893168;
  width: 100%;
  margin-top: 5px;
  border-width: 0;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


